### sbt / Scala ###
target/
project/target/
project/project/
.bsp/
*.class

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Generated graph artifacts ###
netgamesim/output/

### Misc ###
sim-cli/1/